<:Title>
  Home

<:Body>
  <h1>Projects</h1>

  {{ if Volt.current_user }}
    {{ Volt.current_user.projects.each do |project| }}
      {{ project._name }} 
      <button e-click="redirect_to '/projects/' + project.id">view</button>
      <button e-click="destroy_project(project)">delete</button><br>

    {{ end }}

    {{ Volt.current_user.projects.all.length.then {|i| i == 0 ? raw('You have no current projects!<br>') : ''} }}

    <h4>New Project</h4>

    <input type="text" value="{{ page._new_project_name }}" placeholder="New Project Name">
    <br>
    <button e-click="add_new_project">Add</button>
    <br><br>
  {{ else }}
    Log in to create a new project
  {{ end }}



